extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  //- div(class="main-content")
  div(class="full-height")
    div(class="main-content")
      div
        h4 Prediction for Nifty tomorrow
        h1 14,594.85
        h2(style="color:"+color) +31.40 (0.12%)
    div(class="powered-by")
      //- p(style="font:0.125em") POWERED BY
      img(src="images/asqi-logo.png", width=80)