extends layout
block content
  div(class="center")
    a(href="https://asqisys.com")
      img(src="images/asqi-logo.png",class="img-class")
  div(class="full-height")
    div(class="main-content")
      div(class="vertical-flex")
        div(class="powered-by") Latest as of #{createdDateTime}
        div(class="box")
          span(class) One month forecast for NIFTY
        div(class="box")
          span(class="text-header") #{predictedValue}
        div(class="box2")(style="color:"+color) (#{predictedChange}%)
  div(class="footer")
    div(class="row-flex")
      div(class="img_cap")
        a(href="https://asqisys.com/fundsage")(target='_blank')
          img(src="images/fs_icon.png",class="img-class2")
          span(class="caption") FUNDSAGE
      div(class="img_cap")
        a(href="https://asqisys.com/debt-fund-alerts/")(target='_blank')
          img(src="images/hawkeye.png",class="img-class2")
          span(class="caption") HAWKEYE
      div(class="img_cap")
        a(href="https://www.leadingedge.asqisys.com/")(target='_blank')
          img(src="images/blog.png",class="img-class2")
          span(class="caption") LEADING EDGE
