extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  //- div(class="main-content")
  div(class="full-height")
    div(class="main-content")
      div
        h4 Prediction for Nifty tomorrow
        h1 14619.37
        h2(style="color:"+color) +23.77 (0.0016%)
    div(class="powered-by")
      //- h3 Powered by
      a(href="https://asqisys.com")
        img(src="images/asqi-logo.png", width="120")