doctype html
html
  head
    title= 'Nifty Prediction - By ASQI Advisors'
    link(rel='stylesheet', href='stylesheets/style.css')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-ZQK1K9DKSR')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-ZQK1K9DKSR');
  body
    block content
