doctype html
html
  head
    title= 'Nifty Prediction - By ASQI Advisors'
    link(rel='stylesheet', href='stylesheets/style.css')
    title Nifty Prediction - By ASQI Advisors
    meta(name='title', content='Nifty Prediction - One month value: '+predictedValue)
    meta(name='description', content='AI Driven NIFTY Prediction Engine (Daily Updates)')
    // Open Graph / Facebook
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://www.asqisys.com/nifty-prediction/')
    meta(property='og:title', content='Nifty Prediction - One month value: '+predictedValue)
    meta(property='og:description', content='AI Driven NIFTY Prediction Engine (Daily Updates)')
    meta(property='og:image', content='https://asqisys.com/nifty-prediction/images/metaimage.png')
    // Twitter
    meta(property='twitter:card', content='summary_large_image')
    meta(property='twitter:url', content='https://www.asqisys.com/nifty-prediction/')
    meta(property='twitter:title', content='Nifty Prediction - One month value: '+predictedValue)
    meta(property='twitter:description', content='AI Driven NIFTY Prediction Engine (Daily Updates)')
    meta(property='twitter:image', content='https://asqisys.com/nifty-prediction/images/metaimage.png')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-ZQK1K9DKSR')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-ZQK1K9DKSR');
  body
    block content
