html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    min-height: 20%
}

.img-class {
    width: 150px;
    height: 150px;
}

.img-class2 {
    width: 50px;
    height: 50px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.data-container {
    overflow: auto;
    width: 100vh;
}


.wrapper {
    display: block;
    width: 100%;
    height: 100%;
}


.full-height {
    height:50vh;
    /*min-height: 100%;*/
    padding: 10px 10px 10px 10px;
}

a {
    color: #00B7FF;
}

.main-content {
    display: flex;
    height: 100%;
    /*min-height: 400px;*/
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*padding: 50px 50px 50px 50px;*/
    font: 4em "Lucida Grande", Helvetica, Arial, sans-serif;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row-flex {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.box {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;        !* for single line flex container *!*/
    /*align-content: center;      !* for multi-line flex container *!*/
}

.box2 {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;        !* for single line flex container *!*/
    /*align-content: center;      !* for multi-line flex container *!*/
}

.footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
    width: 100%;
}
.text-header{
    font-weight: bold;
}

@media (max-width: 1000px) {
    .img-class {
        width: 250px;
        height: 250px;
    }


    .img-class2 {
        width: 150px;
        height: 150px;
    }

    .full-height {
        height:70vh;
        /*min-height: 100%;*/
        padding: 10px 10px 10px 10px;
    }

    .main-content {
        display: flex;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 95%;
        padding: 0px 5px 0px 5px;
        font: 7em "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    .footer {
        position: absolute;
        bottom: 0;
        padding-bottom: 50px;
        width: 100%;
        height: 10vh;
    }

    .row-flex {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
    }

}